# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/components/authen-form/RegisterForm.jsx
src/components/authen-form/register.css
src/components/footer/Footer.jsx
src/components/header/Header.jsx
src/components/home-content/HomeContent.jsx